@import "./reset.css";
@import "./theme.css";

* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

/* A11y  */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


/* ------------------- font ------------------- */
/* font-weight */
/* Thin : 100, 200 */
/* Light : 300 */
/* Regular : 400 */
/* Medium : 500 */
/* Bold : 600 ~ 900 */


/* heading  */
.heading-sm {
  font-size:   var(--heading-sm);
  font-weight: 900;
}

.heading-md {
  font-size:   var(--heading-md);
  font-weight: 900;
}

.heading-lg {
  font-size:   var(--heading-lg);
  font-weight: 900;
}

.heading-xl {
  font-size:   var(--heading-xl);
  font-weight: 500;
}

.heading-2xl {
  font-size:   var(--heading-2xl);
  font-weight: 500;
}

/* label  */
.label-xs {
  font-size:   var(--label-xs);
  font-weight: 500;
}

.label-sm {
  font-size:   var(--label-sm);
  font-weight: 500;
}

.label-md {
  font-size:   var(--label-md);
  font-weight: 500;
}

.label-lg {
  font-size:   var(--label-lg);
  font-weight: 500;
}

.label-xl {
  font-size:   var(--label-xl);
  font-weight: 500;
}

.label-2xl {
  font-size:   var(--label-2xl);
  font-weight: 500;
}

/* paragraph  */
.paragraph-2xs {
  font-size:   var(--label-2xs);
  font-weight: 400;
}

.paragraph-xs {
  font-size:   var(--label-xs);
  font-weight: 400;
}

.paragraph-sm {
  font-size:   var(--label-sm);
  font-weight: 400;
}

.paragraph-md {
  font-size:   var(--label-md);
  font-weight: 400;
}

.paragraph-lg {
  font-size:   var(--label-lg);
  font-weight: 400;
}

.paragraph-xl {
  font-size:   var(--label-xl);
  font-weight: 400;
}
